<h3> New Trip</h3>

<%= form_for @trip do |f| %>
<%= f.label :date %>
<%= f.date_field :date, :disabled=>true  %>

<%= f.label :rating %>
<%= f.number_field :rating %>


<%= f.label :cost %>
<%= f.number_field :cost %>

<%= f.label :cost %>
<%= f.number_field :cost %>
<%= f.submit %>
<% end %>
