<h2>Details for Trip <%= @trip.id %> </h2>
<h3>Trips</h3>
<table>
  <tr>
    <th>Trip ID</th>
    <th>Date</th>
    <th>Rating</th>
    <th>Cost</th>
    <th>Driver</th>
    <th>Passenger</th>
    <th>Actions</th>
  </tr>

    <tr>
    <td><%= @trip.id %></td>
    <td><%= @trip.date %></td>
    <td>
      <% if @trip.rating == nil %>
        <%= link_to("Rate this Trip!", edit_trip_path(@trip.id))%>
      <% else %>
        <%= @trip.rating %>
      <% end %>
    </td>
    <td><%= number_to_currency((@trip.cost) / 100) %></td>
    <td><%= link_to(@trip.driver.name, driver_path(@trip.driver_id)) %></td>
    <td><%= link_to(@trip.passenger.name, passenger_path(@trip.passenger_id))%></td>
    <td><button><%= link_to("Delete", trip_path(@trip.id), method: :delete, data: { confirm: "Are you sure you want to delete #{ @trip.id }?" }) %></td></button></td>
    </tr>
</table>
