<h3> New Passenger</h3>
<%= render partial: "form", locals: { page_title: "Enter a new Passenger"} %>

<%= form_for @passenger do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :phone_num %>
<%= f.number_field :phone_num %>
<%= f.submit %>
<% end %>
