<h1>Details for <%= @passenger.name %></h1>
<h3>Phone number: <%= @passenger.phone_num %></h3>

<h3>Trips</h3>
<table>
  <tr>
    <th>Trip ID</th>
    <th>Date</th>
    <th>Rating</th>
    <th>Cost</th>
    <th>passenger</th>
    <th>Passenger</th>
  </tr>
  <% @trips.each do |trip| %>
  <tr>
    <% if trip.passenger_id == @passenger.id %>
    <td><%= trip.id %></td>
    <td><%= trip.date %></td>
    <td><%= trip.rating %></td>
    <td><%= (trip.cost) / 100 %></td>
    <td><%= link_to(trip.passenger_id, passenger_path(@passenger)) %></td>
    <td><%= link_to(trip.passenger_id, passenger_path(passenger_url))%></td>
    <% end %>
  </tr>
  <%end %>
</table>
