<h2> Driver Details</h2>
<h3>Name: <%= @driver.name %></h3>
<h3>Driver ID: <%= @driver.id %></h3>
<h3>Car VIN: <%= @driver.vin %></h3>


<h3>Total Revenue for <%= @driver.name + " #{@driver.total_earnings}" %></h3>


<h3>Trips</h3>
<table>
  <tr>
    <th>Trip ID</th>
    <th>Date</th>
    <th>Rating</th>
    <th>Cost</th>
    <th>Passenger</th>
  </tr>
  <% @trips.each do |trip| %>

  <% if trip.driver_id == @driver.id %>
  <tr>
    <td><%= trip.id %></td>
    <td><%= trip.date %></td>
    <td><%= trip.rating %></td>
    <td><%= (trip.cost) / 100 %></td>
    <td><%= link_to(trip.passenger.name, passenger_path(trip.passenger_id))%></td>
  </tr>
  <% end %>

  <%end %>
</table>
