<h2> Driver Details</h2>
<h3>Name: <%= @driver.name %></h3>
<h3>Driver ID: <%= @driver.id %></h3>
<h3>Car VIN: <%= @driver.vin %></h3>

<h3>Trips</h3>
<table>
  <tr>
    <th>Trip ID</th>
    <th>Date</th>
    <th>Rating</th>
    <th>Cost</th>
    <th>Driver</th>
    <th>Passenger</th>
  </tr>
  <% @trips.each do |trip| %>
  <tr>
    <% if trip.driver_id == @driver.id %>
    <td><%= trip.id %></td>
    <td><%= trip.date %></td>
    <td><%= trip.rating %></td>
    <td><%= (trip.cost) / 100 %></td>
    <td><%= link_to(trip.driver_id, driver_path(@driver)) %></td>
    <td><%= link_to(trip.passenger_id, passenger_path(passenger_url))%></td>
    <% end %>
  </tr>
  <%end %>
</table>
